.App {
	padding: 0;
	margin: 0;
}

.background {
  height: 100vh;
  display: grid;
  place-items: center;
	background-color: white;
	font-family: "Roboto", sans-serif;
	font-size: 50px;
}

.navbar {
  position:fixed;
  top:0;
	background-color: black;
	height: 10rem;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 2rem;
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	color: white;
	text-decoration: none;
	max-height: 4rem;
	z-index: -2;
}

.navbar .name {
	height: 3rem;
}

.navbar .info {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
}

.navbar .info ul {
	margin: 0;
}

.navbar .info li {
	list-style-type: none;
	display: inline;
	margin-right: 2rem;
}

.navbar .info li a {
	color: white;
}

.login-subscribe {

	color: black;
	min-width: min-content;
	max-width: fit-content;
	border: transparent;
	border-color: black;
	border-width: 0.2rem;
	border-radius: 0.9rem;
	padding: 2rem;
	background-color: rgb(247, 247, 247);
	box-shadow: -1px 6px 50px 14px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: -1px 6px 50px 14px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: -1px 6px 50px 14px rgba(0, 0, 0, 0.23);
}
.login-subscribe .inside {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-subscribe .inside h1 {
	margin-bottom: 0.5rem;
	text-align: center;
}

.login-subscribe h1 {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.login-subscribe .elements {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.login-subscribe input {
	display: block;
	width: 20rem;
	height: 3rem;
	border: solid;
	border-width: 0.2rem;
	background-color: transparent;
	font-size: 1rem;
	padding: 1rem;
}

.login-subscribe button {
	width: 20rem;
	height: 4rem;
	border: solid;
	border-width: 0.1rem;
	font-size: 2rem;
	color: white;
	background-color: black;
	margin: 0;
	margin-top: 2rem;
}

.login-subscribe .incorrecto {
	font-size: 1rem;
	margin: 0;
	visibility: hidden;
	color:red;
}

.login-subscribe p {
	font-size: 1rem;
	margin: 1rem 0 0 0;
	text-align: center;
	color:black;
}

.verification{
  margin-top: 1rem;
  align-self: flex-end;
  font-size: 1rem;
  color:red;
  visibility: hidden;
}
